# Ignore local Conda environment placed inside repo
.conda/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env/
.venv/
venv/
ENV/
env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VS Code settings (optional, keep if you want to share settings)
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local data caches
.cache/

# Local scripts not to track
Calibration_data_preprocess_bdd.py

metadata_2024_2025.csv
